.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.talismanrc
.editorconfig

# webpack
node_modules
out/
webpack.config.js

